:root {
    --white-color: #fff;
    --bg-color: #fff;
    --gray-color: #ccc;
  }
  
  body {
    background: var(--bg-color) !important;
    scroll-behavior: smooth;
  }
  
  .nav-item .nav-link {
    color: var(--white-color);
  }
  
  .hero {
    height: 100vh;
    background-image: url("./images/tech.png");  
    background-repeat: no-repeat;
    background-position: 60% 0%;
    background-size: cover;
    background-attachment: fixed;

  }
  
  #skills i {
    height: 100px;
    width: 100px;
  }
  
  #portfolio img {
    height: 300px;
    object-fit: cover;
  }
  
  #about .img,
  #about img,
  .hire-text h2 {
    position: relative;
  }
  
  #about .img::before {
    content: "";
    left: 50%;
    width: 4px;
    position: absolute;
    height: calc(100% + 140px);
    background: var(--gray-color);
  }
  
  #about img,
  #about .hire-text h2 {
    width: 140px;
  }
  
  #about .hire-text h2 {
    height: 140px;
  }
  
  .social-icons a {
    width: 40px;
    height: 40px;
  }
  
  footer .social-icons a {
    width: 30px;
    height: 30px;
  }
  
  #cv img {
    width: 230px;
  }
  
  #contact {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url("../images/contact-bg.jpeg");
  }
  
  @media screen and (max-width: 990px) {
    #skills .card {
      width: calc(100% / 2 - 10px) !important;
    }
  }
  
  @media screen and (max-width: 668px) {
    #skills .card,
    #portfolio .card-wrapper {
      width: 100% !important;
    }
   #about .hire-text h2 {
     height: 70px;
     width: 70px;
   }
  }

  .heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    z-index: 999;
}
.white-heading{
    color: #ffffff;
}
.heading:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    transform: translateX(-50%);
    background: url(img/heading-line.png);
    background-repeat: no-repeat;
    background-position: center;
}
.white-heading:after {
    background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.heading span {
    font-size: 18px;
    display: block;
    font-weight: 500;
}
.white-heading span {
    color: #ffffff;
}



.card-wrapper {
  margin-bottom: 20px;
}

.card {
  border: none;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  padding: 15px;
}

.card-title {
  margin: 10px 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.portfolio-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  aspect-ratio: 16/9; 
}

.text-center {
  text-align: center;
}

.text-secondary {
  color: #6c757d;
}

